@model IEnumerable<EventManager.ViewModels.EventViewModel>

@{
    ViewBag.Title = "EventList";
}

<div class="panel-body" style="margin-top:100px;">
    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="sample_1_wrapper">
        <div class="row">
            <div class="col-sm-12">
                <a href="@Url.Action("dashboard", "admin")" class="btn btn-danger" style="float:right; margin:10px 10px 10px 0;">
                    <i class="fa fa-plus">
                    </i> Dashboard
                </a>
            </div>
            <div class="col-sm-12">
                <table aria-describedby="sample_1_info" role="grid" class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EventName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.EventDesc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EventVenue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EventType)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.EventDate)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.EventTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EventFee)
                            </th>

                            <th>User Action</th>
                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EventDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventVenue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EventTime)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EventFee)
                                </td>

                                <td>
                                    <a style="width:50px; height:25px; font-size:8px; font-weight:bold;" href="@Url.Action("EditEvent", "Event", new { id = item.EventId })" class="btn btn-block btn-success" data-placement="top" title="Click to Edit"><i class="fa fa-edit"></i>Edit</a>
                                    <a style="width:50px; height:25px; font-size:8px; font-weight:bold;" href="#" data-id="@item.EventId" class="btn btn-block btn-danger delete" data-placement="top" title="click to delete event"><i class="fa fa-edit"></i>Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).on('click', '.delete', function () {
        //$(".delete").click(function () {
            if (confirm('Are you sure you want to delete this event, this action cannot be undone?')) {
                $.ajax({
                    url: '/Event/DeleteEvent/',
                    type: "POST",
                    data: JSON.stringify({id: $(this).data('id')}),

                    cache: false,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (_data) {
                        if (_data.f !== undefined) {
                            swal({
                                title: "Failed!",
                                text: _data.f, //"Ooops! something went wrong, record not saved, try again later",
                                type: "info"
                            });
                            
                            return false;
                        }
                        else {
                            swal({
                                title: "Success!",
                                text: _data.s,
                                type: "success"
                            });

                        }
                        window.location.reload();
                    }
                });
            }
            else {
                return false;
            }
        //});
    });

</script>